{% extends './base.html' %} {% load static %} 
{% block title %}| blogs {%endblock title %}
{% block content %}
<div class="container pt-4 pb-2 px-4">
<div class="row">
    <div class="blog-title-container">
        <h3 class="blog-title">{{blog.blog_title}}</h3>
        </div>
        <div class="uploaded-date">
          <small class="blog-uploaded">{{blog.blog_uploaded_date|date:"M d, Y"}}</small>
        </div>
        <div class="blog-image-container">
          <img src={{blog.blog_image.url}} alt="{{blog.blog_image_alt}}" class="img-fluid" />
        </div>
        <div class="blog-content">
          {{blog.blog_content|safe}}
        </div>
</div>
</div>
{%endblock content%}