
/* Contact Section */
.contact-section{
    background-color:#FFFAF0;
  }
  
  .contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 0.625rem var(--secondary-shadow);
  }
  
  .contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
  }
  
  .contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
  .contact-form-container .input-field {
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
  }
  
  .input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
  }
  
  .submit-btn {
    width: 100%;
    padding: 0.625rem;
    margin: 0.625rem 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
  }
  .submit-btn:hover {
    background-color: #B6EA7D;
    border: 2px solid var(--primary-color);
    cursor: pointer;
  }
  